@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
html {
    background-color: rgb(224, 224, 224);
    height: 100%;
    z-index: -1;
}

body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Roboto";
    color: rgb(235, 235, 235);
       align-items: center;
}
h1{
	font-family: "Montserrat";
}

.header{
      font-size: 20px;
        margin-bottom: 60px;
}

#taskbar {
    position:absolute;
    height: 60px;
    width: 100%;
    z-index: 1;
    background-color: rgb(72, 80, 86);
}
.search {
  width: 100%;
  position: relative
}

.searchTerm {
  float: left;
  width: 100%;
  border: 3px solid rgb(19, 19, 19);
  padding: 5px;
  height: 20px;
  border-radius: 5px;
  outline: none;
  color: rgb(224, 224, 224);
}

.searchTerm:focus{
  color: rgb(19, 19, 19);
}

.searchButton {
  position: absolute;  
  right: -50px;
  width: 40px;
  height: 36px;
  border: 1px solid rgb(19, 19, 19);
  background: rgb(19, 19, 19);
  text-align: center;
  color: rgb(224, 224, 224);
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}



#logout {
    margin: 10px 30Px;
    position: absolute;
    right: 0px;
    height: 35px;
    width: 90px;
    background-color: rgb(38, 38, 38);
    border: 2px solid rgb(19, 19, 19);
    border-radius: 40px;
    font-family: "Montserrat";
    font-size: 13px;
    color: rgb(255, 255, 255);
}
#sidebar {
    position:absolute;
    height: 100%;
    width: 25%;
    min-width: 200px;
    left: 0px;
    z-index: 0;
    background-color: rgb(42, 47, 51);
}
#sidebar_user {
    position:absolute;
    height: 185px;
    width: 25%;
    min-width: 200px;
    left: 0px;
    z-index: 0;
    background-color: rgb(52, 58, 63);
}
#sidebar_h{
    margin-top: 200px;
    margin-bottom: 10px;
    z-index: 0;
}
.user_name{
    position: relative;
    display:inline;
    font-size: 13px;
    margin-top: 65px;
    margin-left: 5px;
    z-index: 2;
}
#user_info{
    margin-top: 10px;
    font-size: 13px;
    margin-left: 50px;
}
.title{
    margin:auto;
    float: left;
        display:inline;
    padding: 5px 5px 5px
    
}
.image{
    margin:auto;
    padding: 0px 0px 0px;
    float:right;
    display:inline;
    z-index: 2;
}
.desc{
    margin:auto;
    float:left;
    padding: 5px 15px 5px;
    width:300px;
    height: 130px;
    font-size: 13px;
    z-index: 2;
}
#dates{
    margin-top: 60px;
    margin-right: 32%;
    float: left;
    font-size: 30px;
    color: rgb(19,19,19);
}
#dates2{
    margin-top: 60px;
    margin-right: 32%;
    float: left;
    font-size: 30px;
	margin-top: 100px; 
    color: rgb(19,19,19);
}
.tags{
    margin:auto;
    float:center;
    padding: 5px 15px 5px;
    width:300px;
    height: 50px;
        display:inline;
    font-size: 13px;
    z-index: 2;
}
#post1{
    position:absolute;
    height: 60px;
    width: 55%;
    right: 120px;
    margin-top: 110px; 
    z-index: 0;
        border: 2px solid rgb(19, 19, 19);
     border-radius: 10px;
	 font-family: "Montserrat";
    background-color: rgb(0, 163, 10);
}
#post2{
    position:absolute;
    height: 60px;
    width: 55%;
    right: 120px;
    margin-top: 190px; 
    z-index: 0;
        border: 2px solid rgb(19, 19, 19);
     border-radius: 10px;
	 font-family: "Montserrat";
    background-color: rgb(0, 163, 10);
}
#post3{
    position:absolute;
    height: 60px;
    width: 55%;
    right: 120px;
    margin-top: 310px; 
    z-index: 0;
        border: 2px solid rgb(19, 19, 19);
     border-radius: 10px;
	 font-family: "Montserrat";
    background-color: rgb(17, 63, 137);
}
#borderimg2 { 
    border: 0px solid black;
    padding: 10px;
    border-radius: 20px;
}
